openapi: 3.0.1
info:
  title: Tata Motors Limited APIs
  version: 1.0.0
servers:
  - url: https://apigatewayqa.adient.com/tml/v1
    description: Quality
security:
  - ApiKeyAuth: []
paths:
  /esb/srm:
    post:
      tags:
        - Send ASN Data
      summary: Send ASN Data
      description: Send ASN Data
      operationId: /esb/srm
      requestBody:
        description: Request body responsible for ASN data
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ASN'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ASNResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    ASN:
      type: array
      items:
        type: object
        properties:
          PORefr:
            type: string
            example: 2540123696
          SlNo:
            type: string
            example: 10
          Qty:
            type: string
            example: 4
          Inv_No:
            type: string
            example: 2022H15751
          Inv_Dt:
            type: string
            example: 03.02.2022
          UnitPrice:
            type: string
            example: 6290.1
          NetUnitPrice:
            type: string
            example: 6290.1
          TotAmt:
            type: string
            example: 25160.4
          AssAmt:
            type: string
            example: 25160.4
          SgstVal:
            type: string
            example: 2264.44
          CgstVal:
            type: string
            example: 2264.44
          IgstVal:
            type: string
          SGstRt:
            type: string
            example: 9
          CGstRt:
            type: string
            example: 9
          IGstRt:
            type: string
          TotItemVal:
            type: string
            example: 29689.28
          ForCur:
            type: string
            example: INR
          Sup_Gstin:
            type: string
            example: 24AAACT6342D1ZQ
          VehNo:
            type: string
            example: MH12LT7609
          Part_Rev:
            type: string
            example: NA
          Buy_Gstin:
            type: string
            example: 27AAACT2727Q1ZW
          Irn:
            type: string
            example: cdef34f18c009eb
    ASNResponse:
      type: array
      items:
        type: object
        properties:
          POREFR:
            type: string
          SLNO:
            type: string
          INV_NO:
            type: string
          ASNNO:
            type: string
          QTY:
            type: string
          ERROR:
            type: string